.modalContainer {
    color: orange;
}

#close {
    float: right;
    font-size: 15px;
    font-family: 'Luckiest Guy';
}

h2 {
    margin-top: 25px;
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 50px;
}

.modalBlurb {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

ul {
    font-size: 16px;
}